html {
    background:
            linear-gradient(100deg, rgb(39, 61, 64), rgba(255,0,0,0) 70.71%),
            linear-gradient(170deg, rgb(86, 112, 115), rgba(0,255,0,0) 70.71%),
            linear-gradient(240deg, rgb(112, 137, 140), rgba(255,0,0,0) 70.71%),
            linear-gradient(330deg, rgb(170, 191, 191), rgba(0,255,0,0) 70.71%),
            linear-gradient(30deg, rgb(208, 217, 216), rgba(0,0,255,0) 70.71%);
    color: #b3ecf2;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

body {
    padding-top: 10%;
    align-content: center;
}

.container {
    background: #2b3640;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    height: 400px;
    width: 600px;
    border: 1px solid #2b3640;
    border-radius: 20px;
    box-shadow:  -10px -10px 50px #d8e8f2, 15px 15px 50px #273d40;
}

.logo {
    width: 80%;
    padding-left: 10%;
    font-weight: 600;
}

.description {
    line-height: 2;
    padding-top: 8%;
    padding-right: 5%;
}
.about {
    padding-top: 10px;
    display: flex;
    justify-content: flex-end;
}

.signinup button {
    background: #f29494;
    border: 0 solid #f29494;
    border-radius: 10px;
    color: rgb(48, 84, 115);
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 10px 2px;
    transition-duration: 0.4s;
    cursor: grab;
}

.signup:hover {
    background-color: #305473;
    color: #f29494;
}

.sign-in:hover {
    background-color: #305473;
    color: #f29494;
}
